@charset "UTF-8";
/* CSS Document */


/* GLOBAL */
.navHolder{
	background-color:#333;
	height:93px;
}

.navHolder > li > h3 > a:hover{
	color:#FC6; /* ffcc66 */
}

.navHolder > li > h3 > a {
	font-family: 'Amatic SC', cursive;
	font-weight:300 !important;
	color:white;
	font-size:48px;
}

.navHolder > li {
	margin-right:5%;
	padding:5px;
}


/* INDEX.HTML */

.index_nav{
	margin-top:0px;	
}

.siteName {
			height:350px;
			width: 100%; /* 1000px / 1250px */
			padding: 40px;
			position: relative;
			text-align: center;
			background-color:#fff;
			background-image:url(../img/background.png);
			background-repeat:repeat-y;
			border-bottom:#3CC solid 6px;
		}
		
.siteName > h1{
	font-family: 'Amatic SC', cursive;
	font-size:150px;
	/*color:#F49E9D;*/
	color: #3CC;
	font-weight:700;
	margin-top:0;
}

.siteName > h2 {
	font-family: 'Amatic SC', cursive;
	font-size:75px;
	/*color:#F49E9D;*/
	color: #3CC;
	font-weight:300;
	margin-top:-10px;
	}

/* WORLD HTML */	
	
.tealBack{ /* World - Teal with Cone Background */
	width:100%;
	height:680px;
	padding-top:2%;
	background-color:#9CC;
	background-image:url(../img/background.png);
	background-repeat:repeat-y;
}	

.title_world{
	font-family: 'Amatic SC', cursive;
	font-size:100px;
	font-weight:300;
	color:#3f6e6e /*#568282*/;	
	text-align:center;
	margin-bottom:50px;
	padding-top:6%;
}

.mapHolder { /* World - GoogleMaps holder */
	width:auto;
	height:auto;
	border-top: #333 solid 4px;
	border-bottom: #333 solid 4px;
}

/* FLAVORS HTML */	

.fb{
	background-image:url(../img/flavorBack.jpg);
	height:600px;	
}
	
.flavorBack{ /* World - Teal with Cone Background */
	width:100%;
	height:680px;
	padding-top:2%;
	background-color:#ccf; /*ccf */
	background-image:url(../img/background.png);
	background-repeat:repeat-y;
	border-bottom:#333 solid 3px;
}

.list{
	margin-left:-5%;
	padding-top:25px;
}

.title_flavors{ /* title of "americas favorite" */
	font-family: 'Amatic SC', cursive;
	font-size:100px;
	font-weight:300;
	color:#5C3D7A;	
	text-align:center;
	margin-bottom:10%;
	padding-top:8%;
/*	border: blue solid thin;
*/}

#flavorList{ /* left side of list */
	font-family: 'Amatic SC', cursive;
	font-size:50px;
	font-weight:300;
	color:white;	
	text-align:left;
	padding-left:50px;
	line-height:65px;
}

#flavorList2{ /* right side of list */
	font-family: 'Amatic SC', cursive;
	font-size:50px;
	font-weight:300;
	color:white;	
	text-align:left;
	line-height:65px;
/*	border: red solid thin;*/
}

#vanilla:hover, #greentea:hover, #coconut:hover, #strawberry:hover, #chocolate:hover, #mango:hover, #cookie:hover, #redbean:hover, #cookiescream:hover, #mint:hover{ /*list hover */
	color:#5C3D7A;	
	text-align:left;
	padding-left:50px;
	cursor:pointer;
}

.white{
	height:600px;
}


/* MAKING.HTML */

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 36%;
  margin:2rem;
  float: right;
  font-size: 1.5rem;
  text-align: left;
}

video { 
  position: fixed;
  right: 0;
  bottom: 0;
  top:0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}






/* MEDIA QUERIES */
	
@media (max-width: 1255px) {	
	
	.title{
	font-family: 'Amatic SC', cursive;
	font-size:80px;
	font-weight:300;
	color:white;	
	text-align:center;
	}	
	
	.navHolder{ /* fixes white bar under navHolder */
	height:93px;
	}
}

@media (max-width: 1220px) {

	ul, ol { /* idk if this works */
    margin-top: 0px;
    margin-bottom: 0px !important;
	}

	.navHolder{ /* fixes white bar under navHolder */
	height:93px;
	}
}

@media (max-width:1199px){
	.flavorBack{
		height:1200px;
	}
	
	#flavorList{
		padding-left:60%;
	}
	
	#flavorList2{
		padding-left:10%;
	}
}

@media (max-width:1100px){
	
	.siteName > h1{
	font-family: 'Amatic SC', cursive;
	font-size:120px;
	font-weight:700;
	}
	
	.siteName > h2 {
	font-family: 'Amatic SC', cursive;
	font-size:60px;
	font-weight:300;
	}	
}

@media (min-width:766px) and (max-width:890px){
	.flavorBack{
		height:1300px;
	}
	
	#flavorList{
		padding-left:50%;
	}
	
	#flavorList2{
		padding-left:5%;
	}
}

@media (max-width:765px){
	.flavorBack{
		height:1050px;
	}
	
	.title{
		font-size:50px;
	}
	
	#flavorList{
		padding:0;
		font-size:45px;
	}
	
	#flavorList2{
		padding:0;
		font-size:45px;
	}
}


@media (max-width:480px){
	
	.siteName > h2 {
    font-family: "Amatic SC",cursive;
    font-size: 54px;
    font-weight: 300;
	}
	
	.navHolder > li > h3 > a { /* change when nav is finalized */
	font-family: 'Amatic SC', cursive;
	color:white;
	font-size:40px;
	padding-left:2px;
	}
	
}

@media (max-width:420px){	
	.siteName > h2 {
    font-size:50px;
	}
	
}